*.[oa]
.DS_Store
test
scripts
attic
autotools
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autotools
config.log
config.status
configure
include/hatrack/config.h
include/hatrack/config.h.in
include/hatrack/stamp-h1
include/stamp-h1
.deps
.dirstamp
*~
*/*~
*/*/*~
examples/basic
examples/hashable
examples/set1
#*